*{
    max-height: 100vh;
    overflow-y: hidden; // hide vertical

}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    margin: 2rem 2rem 0rem 2rem;
}


.logout{
    margin-left: 90%;
    margin-top: 2%;
}

.card__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0rem;
    width: 60%;
    max-height: 100vh;

    &-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--button{
            background-color: #F16522;
            border-radius: 10px;
            border: none;
            padding: 1rem;
            width: 10rem;
            font-weight: bold;
            color: white;
        }
    }
   
    &-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }
}

.image__container{
    width: 250px;
    background-color: rgb(225, 232, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    &-image{
        border-radius: 50%;
        height: 180px;
        width: 180px;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    &-list{
        display: flex;
        flex-direction: row;
        font-size: 12pt;
        justify-content: space-between;
    }

    &-code{
        text-align: center;
        margin-top: 1rem;
    }

    &-name{
        text-align: center;
    }
}