.listcard__needed{
    width: 60px;
    text-align: center;
    margin: 0 0.5rem 0rem 0.5rem;
    font-size: 0.8rem;
}

.listcard__image{
    width: 80%;
    height: 40%;
    margin: 0 0.5rem 0rem 0.5rem;
}